body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .head {
        font-size: 28px;
    }

    .text {
        font-size: 20px;
    }
}

.text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}

.card {
    text-align: center;
}

.card img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.nama {
    font-family: verdana;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.nim {
    font-family: verdana;
    font-weight: bold;
    font-size: 24px;
}

.video-card {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 50px;
}

.judul-video {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.scale-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}